@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Big+Shoulders+Display:wght@700&family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Barlow', sans-serif;
  font-size: 1.15rem;
  scroll-behavior: smooth;
  color: #23303e;
  max-width: 1440px;
  margin: 0 auto;
  line-height: 1.3;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

body p {
  color: #818498;
  line-height: 1.7;
}

.header-content {
  background-image: url(images/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-width: 375px;
  min-height: 600px;
}

.header-content .logo-header {
  content: url(images/logo.svg);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header-content .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
  margin: 0 1.3em;
}

.header-content .header-nav .hamburger {
  content: url(images/icon-hamburger.svg);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header-content .header-nav .hamburger:hover,
.header-content .header-nav .hamburger:focus {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  cursor: pointer;
}

.header-content .title-arrow-holder {
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5em;
}

.header-content .title-arrow-holder .header-title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 2.1em;
}

.header-content .title-arrow-holder .arrow-icon {
  content: url(images/icon-arrow-down.svg);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.header-content .menu-list {
  position: absolute;
  list-style: none;
  visibility: hidden;
}

.header-content .menu-list a {
  text-decoration: none;
  color: white;
}

.header-content .menu-list .btn-contact {
  color: #23303e;
  background-color: #fad400;
  padding: 1.5em 1em;
  border: none;
  width: 10em;
  border-radius: 30px;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
}

.header-content .menu-list .btn-contact:hover,
.header-content .menu-list .btn-contact:focus {
  color: white;
  outline: none;
  background-color: #66ccb8;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header-content .menu-list.show {
  padding: 2em 0;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.8em;
  background-color: white;
  height: 17em;
  width: 85%;
  top: 15%;
}

.header-content .menu-list.show a {
  color: #818498;
}

.header-content .menu-list.show a:hover,
.header-content .menu-list.show a:focus {
  outline: none;
  color: #23303e;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main-content {
  background-color: white;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  text-align: left;
}

.main-content .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
  padding: 4em 1.5em;
  text-align: center;
}

.main-content .card h2 {
  font-size: 1.8em;
}

.main-content .card h3 {
  font-size: 15px;
  text-transform: uppercase;
}

.main-content .card h4 {
  font-size: 1.5em;
  text-transform: capitalize;
}

.main-content .card .learnmore-yellow {
  text-decoration: underline;
  -webkit-text-decoration-color: #fad400;
          text-decoration-color: #fad400;
  text-decoration-thickness: .1em;
}

.main-content .card .learnmore-red {
  text-decoration: underline;
  -webkit-text-decoration-color: #fe7867;
          text-decoration-color: #fe7867;
  text-decoration-thickness: .1em;
}

.main-content .card .learnmore-yellow:hover,
.main-content .card .learnmore-yellow:focus,
.main-content .card .learnmore-red:hover,
.main-content .card .learnmore-red:focus {
  text-decoration-thickness: .5em;
  cursor: pointer;
}

.main-content .card2 {
  background-image: url(images/mobile/image-transform.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -ms-grid-row: 1;
  grid-area: 1;
  height: 30vh;
}

.main-content .card3 {
  background-image: url(images/mobile/image-stand-out.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -ms-grid-row: 3;
  grid-area: 3;
  height: 30vh;
}

.main-content .card5 {
  background-image: url(images/mobile/image-graphic-design.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  min-height: 700px;
  height: 50vh;
  color: #25564b;
}

.main-content .card5 .text-bottom {
  margin-top: 22em;
}

.main-content .card5 .text-bottom p {
  color: #25564b;
  margin-top: 1.5em;
}

.main-content .card6 {
  background-image: url(images/mobile/image-photography.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  min-height: 700px;
  height: 50vh;
  color: #19536b;
}

.main-content .card6 .text-bottom {
  margin-top: 22em;
}

.main-content .card6 .text-bottom p {
  color: #19536b;
  margin-top: 1.5em;
}

.testimonials {
  background-color: white;
  text-align: center;
  padding: 4em 0em 5em 0em;
}

.testimonials .testimonials-title {
  margin: 0em auto 4em auto;
  color: #a7abae;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 1em;
}

.testimonials .testimonials-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4em;
}

.testimonials .testimonials-content p {
  color: #5a636c;
}

.testimonials .testimonials-content h6 {
  font-size: 1.1em;
}

.testimonials .testimonials-content span {
  margin-top: -2em;
  color: #a7abae;
  font-size: .8em;
}

.testimonials .testimonials-content .person-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  margin: 0 1.2em;
}

.testimonials .testimonials-content .person-container .avatar-person {
  display: inline-block;
  border-radius: 50%;
  height: 4em;
  width: 4em;
}

.testimonials .testimonials-content .person-container .avatar-person-img1 {
  content: url(images/image-emily.jpg);
}

.testimonials .testimonials-content .person-container .avatar-person-img2 {
  content: url(images/image-thomas.jpg);
}

.testimonials .testimonials-content .person-container .avatar-person-img3 {
  content: url(images/image-jennie.jpg);
}

.gallery-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.gallery-content .gallery-img1 {
  content: url(images/mobile/image-gallery-milkbottles.jpg);
  max-height: 100%;
  width: 100%;
}

.gallery-content .gallery-img2 {
  content: url(images/mobile/image-gallery-orange.jpg);
  max-height: 100%;
  width: 100%;
}

.gallery-content .gallery-img3 {
  content: url(images/mobile/image-gallery-cone.jpg);
  max-height: 100%;
  width: 100%;
}

.gallery-content .gallery-img4 {
  content: url(images/mobile/image-gallery-sugar-cubes.jpg);
  max-height: 100%;
  width: 100%;
}

.footer {
  background-color: #66ccb8;
  padding-top: 3em;
  padding-bottom: 4em;
}

.footer .footer-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3em;
}

.footer .footer-nav a {
  text-decoration: none;
  color: #458c7e;
}

.footer .footer-nav a:hover,
.footer .footer-nav a:focus {
  outline: none;
  color: white;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.footer .logo-footer {
  content: url(images/logo-footer.svg);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.footer .icons-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2.5em;
}

.footer .icons-nav .facebook-icon:hover,
.footer .icons-nav .facebook-icon:focus {
  outline: none;
  content: url(images/icon-facebook-active.svg);
}

.footer .icons-nav .instagram-icon:hover,
.footer .icons-nav .instagram-icon:focus {
  outline: none;
  content: url(images/icon-instagram-active.svg);
}

.footer .icons-nav .twitter-icon:hover,
.footer .icons-nav .twitter-icon:focus {
  outline: none;
  content: url(images/icon-twitter-active.svg);
}

.footer .icons-nav .pinterest-icon:hover,
.footer .icons-nav .pinterest-icon:focus {
  outline: none;
  content: url(images/icon-pinterest-active.svg);
}

.footer .attribution {
  position: absolute;
  text-align: center;
  color: #25564b;
  font-size: .7em;
  left: 0;
  right: 0;
  margin-top: 4em;
}

.footer .attribution a {
  text-decoration: none;
  color: white;
}

.footer .attribution a:hover,
.footer .attribution a:focus {
  outline: none;
  color: #fe7867;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

@media (min-width: 800px) {
  .header-content {
    background-image: url(images/desktop/image-header.jpg);
    height: 100vh;
    min-height: 100%;
  }
  .header-content .menu-list {
    visibility: visible;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    padding-right: 1.5em;
  }
  .header-content .menu-list a:hover,
  .header-content .menu-list a:focus {
    color: #23303e;
  }
  .header-content .menu-list .btn-contact {
    background-color: white;
  }
  .header-content .menu-list .btn-contact:hover,
  .header-content .menu-list .btn-contact:focus {
    color: white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
  }
  .header-content .header-nav {
    padding-top: 4em;
  }
  .header-content .title-arrow-holder {
    gap: 7rem;
  }
  .header-content .title-arrow-holder .header-title {
    font-size: 3em;
    margin-top: 1em;
  }
  .header-content .hamburger {
    visibility: hidden;
  }
  .header-content .logo-header {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    margin-left: 3em;
  }
  .main-content {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .main-content .card {
    padding: 4em 6em 4em 8em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 600px;
    text-align: left;
  }
  .main-content .card h2 {
    font-size: 2.2em;
  }
  .main-content .card2 {
    background-image: url(images/desktop/image-transform.jpg);
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1 / 2;
  }
  .main-content .card3 {
    background-image: url(images/desktop/image-stand-out.jpg);
    height: 100%;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: 2 / 1;
  }
  .main-content .card5 {
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-position: top center;
    height: 100%;
    text-align: center;
    padding: 3em 9em;
  }
  .main-content .card6 {
    background-image: url(images/desktop/image-photography.jpg);
    background-position: top center;
    height: 100%;
    text-align: center;
    padding: 3em 9em;
  }
  .testimonials .testimonials-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 15vh;
    max-height: 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0em;
    margin: 0 7em;
  }
  .testimonials .testimonials-content .person-container {
    margin: 0 1em;
    gap: 3em;
  }
  .gallery-content {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .gallery-content .gallery-img1 {
    content: url(images/desktop/image-gallery-milkbottles.jpg);
  }
  .gallery-content .gallery-img2 {
    content: url(images/desktop/image-gallery-orange.jpg);
  }
  .gallery-content .gallery-img3 {
    content: url(images/desktop/image-gallery-cone.jpg);
  }
  .gallery-content .gallery-img4 {
    content: url(images/desktop/image-gallery-sugarcubes.jpg);
  }
}
/*# sourceMappingURL=style.css.map */